{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Channels</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>Count Page</h1>


    <script>
        const ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')
        // // By using Websocket Properties
        // ws.onopen = function (){
        //     console.log('Websocket connection open.....', event)
        //     ws.send("Hi!, message from client")
        // }
        // ws.onmessage = function (){
        //     console.log('Message received from server.....', event)
        // }
        // ws.onerror = function (){
        //     console.log('Websocket error occured.....', event)
        // }
        // ws.onclose = function (){
        //     console.log('Websockts closed.....', event)
        // }

        // By using Websocket Events
        ws.addEventListener('open', () => {
            console.log('Websocket connection open.....', event)
            ws.send("Hi!, message from client")
        })
        ws.addEventListener('message', (event) => {
            console.log('Message received from server.....', event)
        })
        ws.addEventListener('error', (event) => {
            console.log('Websocket error occured.....', event)
        })
        ws.addEventListener('close', (event) => {
            console.log('Websockts closed.....', event)
        })
    </script>
</body>
</html>